/******************************************************************************
 * state
 ******************************************************************************/
const state = <%=state%>
/************************************************************************
 * action
 ************************************************************************/
import actions from '../<%=module_name%>.js'

/******************************************************************************
 * mutations
 ******************************************************************************/
const mutations = {
}
export default {
    state,
    actions,
    mutations
}
